h1 {
  font-family: sorts-mill-goudy, serif;
  font-weight: 500;
  font-style: normal;
  line-height: 30px;
}

.anchor {
  height: 4px;
  width: 100%;
}

.yellow {
  color: #F5CB08;
}

.yellow-line {
  position: absolute;
  width: 100%;
  left: 0;
  border: 2px solid #F5CB08;
  margin: 0;
}

.nav-links a {
  line-height: 20px;
  color: rgba(0,0,0, 0.7);
}

.nav-links a:hover, .nav-links a:active {
  background: #F5CB08;
  outline: 6px solid #F5CB08;
}

.border {
  border: 1px solid grey;
}

.card {
  overflow: hidden;
  height: 0;
  padding: 50%;
  /* background-image: url("https://making-the-web.com/sites/default/files/clipart/158165/images-fishes-158165-3297385.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 30em) {
  .card {
    padding: 24%;
  }
}

@media screen and (min-width: 60em) {
  .card {
    padding: 11%;
  }
}

.project:nth-child(2n) > img {
  order: 2;
}

.project {
  min-height: 350px;
}

.flex-basis {
  flex-basis: 50%;
}

.about-gif {
  width: 100%;
}