.ig-placeholder {
  width: 300px;
  height: 300px;
  border: 1px solid grey;
}

.card {
  width: 300px;
  height: 300px;
}

.link:focus {
  outline: none;
}

.project:nth-child(2n) > div:first-child {
  order: 2;
}

.project {
  height: 250px;
}

.flex-basis {
  flex-basis: 50%;
}
